body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #0a0a0a;
    color: #00FA03;
    font-size: 1.3em;
    text-align: center;

    .content {
        margin: 50px auto;
        max-width: 75%;

        button {
            margin: 25px auto 50px;
            padding: 1em;
            background-color: rgba(0,0,0,0);
            color: #fff;
            border: 1px solid #fff;
            transition-duration: .25s;

            &:hover {
                background-color: rgba(255,255,255,0.5);
            }
        }

        #num {display: none;}

        #cycle {
            margin: auto;
            padding: 2.5% 5%;
            min-height: 200px;
            line-height: 1.75em;
            border: 1px solid #fff;
        }
    }

    footer {
        padding: 25px 0;
        width: 100%;
        background-color: #000;

        a {color: #00af02;}

        img {
            margin: 1em auto 0;
        }
    }
}
